* {
    font-family: "Comic Sans MS", cursive, sans-serif;
    
    
}

body{
    background-image: linear-gradient(lightpink,palevioletred,mediumorchid);
    
}

.container {
    border-color: black;
    color: #333333;
    margin-top: 25px;
    width: 500px;
    text-align: center;
    display: block;
    margin: 0 auto;
   
}
.row{
    text-align: left;
    padding-left: 100px;
}


ul {
    margin: 0;
    padding: 0;
}
.button{
    border-radius: 5px;
    border: silver;
}
button{
    border-radius: 5px;
    background-color: silver;
    border-color: darkgray;
}